:root{
    /* color */
    --primary:#474DF1;
    --secondary:#1F1F2D;
    --black:#000000;
    --gray:#4d4d4d;
    --white:#ffffff;
    --text:#2b2b2b;

    /* headlines */
    --head-1:60px;
    --head-2:40px;
    --head-3:30;
    --head-4:24;
    --head-5:20;

    /* Regular body */
    --Regular-body-1:18px;
    --Regular-body-2:16px;
    --Regular-body-3:14px;

    /* Medium body */
    --Medium-body-1:18px;
    --Medium-body-2:16px;
    --Medium-body-3:14px;
    
    /* weight */
    --font-weight-bold:700;
    --font-weight-semibold:600;
    --font-weight-medium:500;
    --font-weight-regular:400;
}
body{
    font-family:  'Poppins', sans-serif !important;
    color: var(--text);
}
nav{
    height: 80px;
    font-size: var(--Regular-body-2);
    /* font-weight: var(--font-weight-regular); */
    color: var(--text);
    background-color: rgba(255, 255, 255,.7);
    backdrop-filter: blur(14px); 

}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-item{
    font-size: var(--Regular-body-3);
    /* padding: 10px !important;     */
}
/* .dropdown-menu{
    padding: 15px !important;    
} */
#proposalbtn
{   
    /* width: 144px; */
    height: 44px;   
    background-color: var(--primary);
    color: white !important;
    border-radius: 10px;
    font-size: var(--Medium-body-2);
}
#navbarSupportedContent{
    font-weight:var(--font-weight-medium);
    color: var(--text) !important;
    /* padding-inline: 35px; */
}
#hero{
    /* position: relative;
    top: 80px; */
    margin-top: 80px;
    background-color: #F2ECF9;
    height: 598px !important;
    /* padding: 0% !important; */
}
.heroContent{
    top: 50px;
    width: 559px ;
    position: relative;
    /* padding: 150px; */
}
.heroContent h2{
    position: relative;
    width: 559px;
    height: 180px;
    font-size: var(--head-2);
    font-weight:  var(--font-weight-semibold);
    left: 100px !important;
}
.imgbg{
    position: absolute;
    top: 70px;
    left: 955px;
    background-color: var(--white);
    width: 565px !important;
    height: 452px;
    border-radius: 50px 0px 0px 50px;
    padding: 0% !important;
}
.portion2{
     display: flex;
    align-items: end;
    padding: 0% !important;
    margin: 0% !important;
}
#herobtn{
    position: relative;
    width: 559px;
    left: 100px;
}
.inventingnext{
    margin-top: 100px;
    height: 730px;
    background-color: rgba(71, 77,241,.08);
    border-radius: 30px;
}
.formula{
    margin-top: 150px !important;
    width: 100% !important;
    height: 367px;
    padding: 0% !important;
    background-color: rgb(242,236,249);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.companies{
    margin-top: 100px;
    padding: 0% !important;
    height: 260px;
}
.company{
    width: 250px !important;
    height: 120px !important;
    background-color: rgba(71, 77,241,.08);
    border-radius: 30px;
}
.innopartner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px !important;
    padding: 0% !important;
    /* height: 527px; */
}
.innovation{
    height: 855px;
    background-color: rgb(235, 247, 247);
    padding: 0% !important;
}
.illu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:35px !important;
    width: 530px !important;
    height: 540px !important;
    background-color: var(--white);
    border-radius: 0px 40px 40px 0px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.slider{
    position: absolute;
    left: 92%;
    font-weight: 600;
    color: var(--gray);
    text-align: right !important;
}
.helped{
    width: 333px !important;
    height: 150px !important;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(62, 129, 77,.10);
    padding: 15px 20px!important;
}
.imgframe{
    width: 60px !important;
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0% !important;
}
#readcasestudy{
    position: relative;
    top: 50px !important;
    width: 189px;
    height: 40px;
    font-size: var(--Regular-body-3);
    border-style: solid;
    border-color: var(--black);
    border-radius: 100px;
}
#foot{
    position: relative;
    margin-top: 100px;
    /* top: 900px !important;    */
    color: var(--white);
    padding: 0%;
    width: 100%;
    height: 328px;
    background-color: var(--secondary)
}
#newsletter1{
    width: 255px;
    border: none;
    border-radius: 8px;
    color: #D9DBE1;
    background-color: transparent;
    color: var(--white);
}
.email{
    width: 255px;
    height: 40px;
    background-color: rgba(255,255,255,.2);
    border-radius: 8px;
}
#mailicon{
    color: var(--white);
    position: relative;
    left: -40px;
    bottom: -9px;
}
